<div class="user-item card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= user.first_name %> <%= user.last_name %></h5>
    <p class="card-text"><strong>Email:</strong> <%= user.email %></p>
    <p class="card-text"><strong>Description:</strong> <%= user.description %></p>
    <hr>
    <!-- Add any other information you want to display for each user -->
    <% if current_user.admin? %>
      <%= link_to "Delete User", admin_user_path(user), method: :delete, data: { confirm: "Are you sure you want to delete this user?" }, class: "btn btn-danger" %>
    <% end %>
  </div>
</div>
