<div class="text-center">
  <h1>Liste des invités à l'événement : <%= @event.title %></h1>
  <!-- Afficher la liste des participants à l'événement -->
  <% @attendances.each do |attendance| %>
    <%= attendance.user.first_name %> <%= attendance.user.last_name %><br>
  <% end %>
  <%= link_to "Modifier l'événement", edit_event_path(@event), class: "mx-auto" if current_user == @event.admin %>
  <br>
  <div class="text-center">
    <%= link_to "Show this event", @event, class: "btn btn-primary" %>
  </div>
</div>
