<!DOCTYPE html>
<html>
  <head>
    <title>EventBriteProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  
  </head>

  <body>
   <div class="container">
  <header class="d-flex flex-wrap justify-content-between py-3 mb-4 border-bottom">
    <a href="<%= root_path %>" class="d-flex align-items-center mb-3 mb-md-0 text-dark text-decoration-none">
      <span class="fs-4 text-primary" style="font-weight: 900">EventBriteProject</span>
    </a>

    <ul class="nav nav-pills">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Create New Event", new_event_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Edit email / password", edit_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: {turbo_method: :delete}, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </header>
</div>

    
    <div class="container">
      <p class="notice text-center"><%= notice %></p>
      <p class="alert text-center"><%= alert %></p>
      <%= yield %>
    </div>

    <footer>
      <div class="container">
        <hr class="my-4">
        <p class="text-center">Created by <a href="https://github.com/Jakfamily">Jean-Baptiste</a></p>
        <% if user_signed_in? %>
          <%= link_to "Bouton Secret", secret_path, class: "btn btn-transparent text-white" %>
        <% end %>
      </div>
    </footer>

  </body>
</html>
